* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    position: relative;
    display: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding: 15px 30px;
    right: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 10px 40px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: orange;
}